<div class="header">
<div class="container"><br>
<h2>Admin Page</h2>
</div>
</div>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<br>
    <div class="main" ng-controller ="AdminController">
      <div class="container-fluid">
       <div class="scrollmenu">
          <div class="w3-container">
              <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4" ng-click="ShowHide()" >+</button>Verified SP<br/>
              <div class="jumbotron">
                 <h2>Jumbotron</h2>
              </div>
           </div>
       </div>
      </div>
    </div>

  <tbody>
  <form name="myform">
    <!-- <h4  ng-repeat="x in SrvProviders" >  {{x.email}} <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4" ng-click="removeSrvProvider(x.email)" >+</button>Remove</h4> -->
<div class="container-fluid">
  <table class="w3-table" ng-controller="AdminController" border="1">
          <thead class="text-danger">
            <th>username</th>
            <th>Email</th>
            <th>SP Status</th>
          </thead>
          <tr ng-repeat="sps in SrvProviders" >
            <td>{{sps.username}}</td>
              <td>{{sps.email}}</td>
              <td>
              <button class="w3-button w3-large w3-circle w3-red w3-card-4" ng-click="removeSrvProvider(sps.email) ; displaySrvProviders (); " >-</button>  Remove</h4>
            </td>
          </tr>
        </table>
        </div>
<br>
        <div ng-click="AdminController.declineSP();" class="container-fluid">
          <table class="w3-table" ng-controller="AdminController" border="1">
                  <thead class="text-danger">
                    <th>OrganizationName</th>
                    <th>Email</th>
                    <th> UnRegister SP</th>
                  </thead>
                  <tr ng-repeat="UNsps in unRegisterSP" >
                    <td>{{UNsps.organizationName}}</td>
                    <td> {{UNsps.email}}</td>
                    <td>
                      <button class="w3-button w3-large w3-circle w3-red w3-card-4" ng-click="" >+</button>  accept </h4>
                        <button class="btn btn-primary" onclick="AdminController.declineSP()">Decline</button>
                    </td>
                  </tr>
            </table>
          </div>
<br>
<!-- <h4  ng-repeat="x in SrvProviders" >  {{x.email}} <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4" ng-click="removeSrvProvider(x.email)" >+</button>Remove</h4> -->
<!-- get notifications -->

<div ng-click="AdminController.getNotifications();" clickclass="container-fluid">
  <button class="btn btn-primary" onclick="AdminController.getNotifications()">Service Provider Notifications</button>
<table class="w3-table" ng-controller="AdminController" border="1">
      <thead class="text-danger">
        <th>Service Provider Username</th>
        <th>Organization Name</th>
        <th>list Of Notifications</th>
      </thead>
      <tr ng-repeat="sps in SrvProviders" >
        <td>{{sps.username}}</td>
        <td>{{sps.organizationName}}</td>
        <td>{{sps.listOfNotification}}</td>

      </tr>
    </table>
    </div>

      </form>
</tbody>
