
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

.text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.divv {
    border-radius: 5px;
    padding: 35px;
}

</style>

</div>

<div ng-controller="spCon" class = "divv">
<h2> Booking Course </h2>  

<div class="row show-hide-message" ng-show=spCon.errMessage>
<div class="alert alert-danger">
<strong>{{spCon.errMessage}}</strong> <a href="#/listOfCourses"> << Back to browse more courses</a>
</div>

</div>

   <div class="row show-hide-message" ng-show=spCon.succMessage>
   <div class="alert alert-success">
  <strong>{{spCon.succMessage}}</strong> <a href="#/"> Pay Now for the course</a>
  </div> 
     <a href="#/listOfCourses"> << Back to Catalog</a>
</div>
</div>
<!-- <form ng-submit="spCon.update(updatedPortofolio)" class = "divv">

<br>
        <button type="submit" class="btn btn-default" ng-submit="spCon.update(updatedPortofolio)" >Submit</button>


        <br>
        <br>

     

</form>
