
<body> 

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"></a>
    <!-- END SCROLL TOP BUTTON -->

   

    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    
      <h2>Course Details</h2>
 
    <!--=========== END COURSE BANNER SECTION ================-->

    
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="courseArchive">
      <div class="container">
        <div class="row">
          <!-- start course content -->
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="courseArchive_content">              
             <div class="singlecourse_ferimg_area">
              
                <div class="singlecourse_bottom">
                 
                 
                 
                </div>
             </div>
             <div class="single_course_content" ng-controller="spCon">
               <h2 class="firstheader">About The Course</h2>
               <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
               <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
               <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

</br>
</br>
                  <h2 class="secondheader"> Information </h2>

               <table class="table table-striped course_table" ng-controller='spCon'>
                <thead>
                  <tr>          
                    <th>Title</th>
                    <th>Center Name</th>
                    <th>Center Location</th>
                    <th>Type</th>
                    <th>Description</th>
                      <th>Start Date</th>
                    <th>End Date</th>
                    <th>Capacity</th>
                     <th>Fees</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>          
                   
                    <td>{{coursez.title}}</td>
                     <td> {{coursez.centerName}}</td>
                      <td>{{coursez.centerLocation}}</td>
                       <td>{{coursez.type}}</td>
                        <td>{{coursez.description}}</td>

                        <td>{{coursez.startDate|date}}</td>
                       <td>{{coursez.endDate|date}}</td>
                        <td>{{coursez.capacity}}</td>
                        <td>{{coursez.fees}}</td>
                   
                  </tr>
                  <tr>          
                   
                
                </tbody>
              </table>
             
</br>
          

              
             
           </div>
           
              </div>
            </div>
            </div>
           
           </br>
           </br>

          
</div>
  
          <!-- End course content -->
<hr id="one"></hr>
<div id="home"><a href="#/home1" > HOME</a> </div>
<div id="bookcourse"><a ng-show ="MainController.isST" href="#/" >BOOK</a></div>
<!-- <div id="viewannouncement"><a ng-show ="MainController.isST" href="#/viewannouncements1" >ANNOUNCEMENTS</a></div>
<div id="viewreviews"><a href="#/viewreviesStudent" >REVIEWS</a></div> -->
<div id="viewannouncement"><a ng-show ="MainController.isST" href="#/viewannouncements1" >View Announcements and Reviews</a></div>
<div id="bookcourse"><a ng-show ="MainController.isST" href="#/charge" >PAY</a></div>
     <hr id="two"></hr>
  

    <!-- Javascript Files
    ================================================== -->

  

  
  <!--=============================================== 
    Template Design By WpFreeware Team.
    Author URI : http://www.wpfreeware.com/
  ====================================================-->
  
 

  </body>
</html>