
<div ng-controller="spCon" >
  
        <ul class="list-group">
          <li class="list-group-item">title: {{x.title}}</li>
          <li class="list-group-item">centerName: {{x.centerName}}</li>
          <li class="list-group-item">centerLocation: {{x.centerLocation}}</li>
          <li class="list-group-item">type: {{x.type}}</li>
          <li class="list-group-item">description: {{x.description}}</li>
          <li class="list-group-item">startDate: {{x.startDate}}</li>
          <li class="list-group-item">endDate: {{x.endDate}}</li>
          <li class="list-group-item">capacity: {{x.capacity}}</li>
          <li class="list-group-item">fees: {{x.fees}}</li>


 
        </ul> 
   


</div>

