<style>
  .b {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;

}
</style>
<div>

<h1> one course </h1>	
</div>


<div  ng-controller= "spCon">
<div ng-click="spCon.OneCourse(data)">

<p>Select a course:</p>
<div>
  <select ng-model="spCon.data" ng-options="x.title for x in courses">
</select>

<h1>You selected: {{spCon.data.title}}</h1>


</div>

  

</div>

</div>

<div>
  <h3>You can view the selected course from here </h3>
    <li><a href= "#/coursesp"> <button b >COURSE PAGE </button> </a></li>

</div>