<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style> 
 
 #one{position:absolute; top:150px;left:80px;}
</style>
<body>

<div class="container">
 
 <!--  <div class="alert alert-success">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div> -->
 <!--  <div class="alert alert-info">
    <strong></strong> SORRY CANT SAVE THE NEW ANNOUNCMET TO THE COURSE!
  </div>
  <div class="alert alert-warning">
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div> -->
  <div class="alert alert-danger">
    <strong></strong> SORRY CANT SAVE THE NEW ANNOUNCMET TO THE COURSE!
  </div>
</div>
<li><a  href= "#/home"> <button id='one' class="btn btn-primary" >BACK </button> </a></li>
</body>
</html>
