<body>
<div class="modal-header">
<h3 class="modal-title">Header</h3>
</div>
<div class="modal-body">
<h3>PLEASE POST YOUR ANNOUNCEMENT</h3>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="input-group">
    <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>     
    <span class="input-group-addon btn btn-primary">POST</span>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button"
ng-click="ok()"> OK</button>
<button class="btn btn-warning" type="button"
ng-click="close()"> Close</button>
</div>
</body>