<form ng-submit="spCon.postannouncement(data)">
	

<!-- <div class="form-group">
          <label>PLEASE ENTER THE COURSE TITLE</label>
          <input type="text" class="form-control" ng-model="spCon.data.title">
        </div> 
 -->
   <div class="form-group">
         <style> h2{
  font-family: 'Varela', sans-serif;  
}

h2 {
  color: #313338;  
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px; 

  display: inline-block;
  float: left;
  font-size: 18px;
  margin-right: 20px;
  padding-bottom: 0px;
 
}
</style>
<h2>PLEASE POST YOUR ANNOUNCEMENT</h2>
          <input type="text" class="form-control" ng-model="spCon.data.announcements">
        </div> 
       
       
        <button type="submit" class="btn btn-primary">Submit</button>

</form>