</p>list of service providers</p>
<div ng-repeat="x in title" ng-controller="MainController">

<!-- <h1>{{title}}</h1>
 -->
        <ul class="list-group">
          <li class="list-group-item">organizationName: {{x.organizationName}}</li>
          <li class="list-group-item">field: {{x.field}}</li>
          <li class="list-group-item">description: {{x.description}}</li>
          <li class="list-group-item">mobileNumber: {{x.mobileNumber}}</li>
          <li class="list-group-item">email: {{x.email}}</li>
          <li class="list-group-item">address: {{x.address}}</li>
          <li class="list-group-item">polices: {{x.polices}}</li>
          <li class="list-group-item">logo: {{x.logo}}</li>
          <li class="list-group-item">listOfCourses: {{x.listOfCourses}}</li>
          <li class="list-group-item">username: {{x.username}}</li>




        </ul>


</div>
