
  </br>
 <div ng-controller="MainController">
 <p><strong><em> Total results:</em></strong></p>
  {{length}}
 </div>
  </h6><strong><em>Search Result : </em></strong></h6>
<div ng-repeat="res in searchResult" ng-controller="MainController">
 
        <ul class="list-group">
         <li class="list-group-item">title: {{res.title}}</li>
         <li class="list-group-item">Center name : {{res.centerName}}</li>
         <li class="list-group-item">Center location : {{res.centerLocation}}</li>
         <li class="list-group-item">Type : {{res.type}}</li>
         <li class="list-group-item">Description : {{res.description}}</li>
         <li class="list-group-item">Start Date : {{res.startDate}}</li>
         <li class="list-group-item">End date : {{res.endDate}}</li>
         <li class="list-group-item">Capacity : {{res.capacity}}</li>
         <li class="list-group-item">Fees : {{res.fees}}</li>
       
        </ul>


</div>