


<div ng-controller ="spCon">

	  <ul class="list-group">
          <li class="list-group-item">title: {{oneCourse.title}}</li>
          <li class="list-group-item">centerName: {{oneCourse.centerName}}</li>
          <li class="list-group-item">centerLocation: {{oneCourse.centerLocation}}</li>
          <li class="list-group-item">type: {{oneCourse.type}}</li>
          <li class="list-group-item">description: {{oneCourse.description}}</li>
          <li class="list-group-item">startDate: {{oneCourse.startDate}}</li>
          <li class="list-group-item">endDate: {{oneCourse.endDate}}</li>
          <li class="list-group-item">capacity: {{oneCourse.capacity}}</li>
          <li class="list-group-item">fees: {{oneCourse.fees}}</li>


 
        </ul> 
   



</div>