
<style>

 p {
    margin-left: 2cm;
}
 i {
    margin-left: 2cm;
}
h2 {
    margin-left: 1cm;
}

h3 {
    margin-left: 1cm;
}


</style>




<div ng-controller="spCon" class="form-group" >
  <h2>My Portofolio</h2>
  <br>
  <p><strong>Organization Name: </strong> {{profile.organizationName}} </p>
  <p><strong>Username: </strong> {{profile.username}} </p>
  <p><strong>Mobile Number: </strong> {{profile.mobileNumber}} </p>
  <p><strong>E-mail: </strong> {{profile.email}} </p>
  <p><strong>Address: </strong> {{profile.address}} </p>
  <p><strong>Field: </strong> {{profile.field}} </p>
  <p><strong>Description: </strong> {{profile.description}} </p>
  <p><strong>Polices: </strong> {{profile.polices}} </p>



</div>  
<br>  
<li>
  <a href="#/updatePortofolio">
  <i class="glyphicon glyphicon-user"></i>
  Edit Portofolio </a>
</li>

<br>  
<br>  
<!-- <li><a href= "#/spPortofolio">BACK SP</a></li> -->

<h2>My Courses</h2>
<br>

<div  ng-controller= "spCon" class="form-group">
  <div ng-model="spCon.data" ng-repeat ="x in courses" ng-click="spCon.OneCourse(data)" >
      <ul class="list-group">

        <li>
              <p>
        {{x.title}}
        <a href= "#/coursesp"> <button b >Course Page</button> </a>
      </p>
        </li>
      
      </ul>     
  </div>
</div>
<br>  

<li>
  <a href="#/addCourse" target="_blank">
  <i class="glyphicon glyphicon-ok"></i>
  Add Course </a>
</li>

<br>  
<br>  

<!--  <div class="row show-hide-message" ng-show="main.successMsg || main.errorMsg || facebook.errorMsg || twitter.errorMsg || google.errorMsg"> -->