  <div >
    <form ng-submit="StudentController.payment()" >
     <div class="card" style="width: 40rem;">
  <div class="card-block">
    <h4 class="card-title">Course Chrage</h4>
  <script 
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key = "pk_test_i6veODaVUVEsRWDggUEW8Lvt"
    data-amount = "course.fees"
    data-name = "course.title"
    data-locale = "auto"
    data-currency = "usd"
    >
        
    </script>
  </div>
</div>            
    <button type = "submit"> submit </button>
    <input type="hidden" name="chargeAmount" ng-value="course.fees">
    </form>

</div>