<div>
<h1> Student REGISTERING  </h1>
</div>

<form ng-submit="StudentController.newStudent(data)">
	 <div class="form-group">
          <label>username</label>
          <input type="text" class="form-control" ng-model="StudentController.data.username">
        </div>

        <div class="form-group">
          <label>password</label>
          <input type="text" class="form-control"  ng-model="StudentController.data.password" >
        </div>
        <div class="form-group">
          <label>email</label>
          <input type="text" class="form-control" ng-model="StudentController.data.email">
        </div>
        <div class="form-group">
          <label>birthdate</label>
          <input type="data" class="form-control" ng-model="StudentController.data.birthdate" >
        </div>

        <div class="form-group">
          <label>profilePicture</label>
          <input type="text" class="form-control" ng-model="StudentController.data.profilePicture" >
        </div>

        <button type="submit" class="btn btn-default">Register</button>



</form>
