
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<h2 class="bold">{{username}}</h2>

  <p>{{profilepicture}}</p>



<h2 class="title text-center">My Courses</h2>

<div ng-repeat="res in studentcourses"  ng-controller="MainController">

      <div class="col-sm-2">
          <div class="row">
         <ul class="list-group-item list-group-item-warning">


<h2 class="title text-center">{{res}}</h2>

<button  ng-click="MainController.redirectCourse(res)" type="button" style:"margin:auto"class="btn btn-danger"; >Review</button>




        </ul>


</div>
</div>
</div>


<!-- <p>cataloggg</p> -->
</body>
