
<form ng-submit="spCon.updatecourse(data)">
	 <div class="form-group">

        <div class="form-group">
          <label> OLD Title</label>
          <input type="text" class="form-control"  ng-model="spCon.data.title" >
        </div>


        
        <div class="form-group">
          <label>Center Name</label>
          <input type="text" class="form-control"  ng-model="spCon.data.centerName" >
        </div>

        <div class="form-group">
          <label>Center Location</label>
          <input type="text" class="form-control"  ng-model="spCon.data.centerLocation" >
        </div>


        <div class="form-group">
          <label>Type</label>
          <input type="text" class="form-control"  ng-model="spCon.data.type" >
        </div>


        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control"  ng-model="spCon.data.description" >
        </div>


        <div class="form-group">
          <label>Capacity</label>
          <input type="text" class="form-control"  ng-model="spCon.data.capacity" >
        </div>


            <div class="form-group">
          <label>Start Date</label>
          <input type="text" class="form-control" ng-model="spCon.data.startDate">
        </div> 
       
        <div class="form-group">
          <label>End Date</label>
          <input type="text" class="form-control"  ng-model="spCon.data.endDate" >
        </div>
       
        
        <div class="form-group">
          <label>Fees</label>
          <input type="text" class="form-control" ng-model="spCon.data.fees" >
        </div>
       
        <button type="submit" class="btn btn-default">SAVE</button>



</form>
