 
<!-- <h2>ANNOUNCEMENTS</h2> -->
<form ng-submit="spCon.viewannouncements1()">
   <!--<div class="form-group">
    <label>PLEASE ENTER THE COURSE TITLE</label>
          <input type="text" class="form-control" ng-model="spCon.data.title">
        </div> 
 -->
 <button type="submit" class="btn btn-primary">Announcements</button>
        </form>

<!-- <li><a href= "#/viewreviesStudent"> <button class="btn btn-primary" >Reviews </button> </a></li> -->
 <div ng-repeat = "x in gina1" ng-controller="spCon">

<ul class="list-group">
          <li class="list-group-item"  ng-model="spCon.data.announcement">{{x}}</li>
        

        </ul>

          


        </div>



         <li><a ng-show = !spCon.isSP href= "#/home1"> <button id='one' class="btn btn-primary" >BACK </button> </a></li>
          
