
 <style> 
 #two{position:absolute; top:50px;left:170px;}
 #one{position:absolute; top:50px;left:270px;}
</style>
<!-- <h2>REVIEWS</h2> -->
<!-- <li><a href= "#/viewannouncements"> <button class="btn btn-primary" >Announcements </button> </a></li>
 -->
 <form ng-submit="spCon.viewannouncements()">
  <!-- <div class="form-group">
    <label>PLEASE ENTER THE COURSE TITLE</label>
          <input type="text" class="form-control" ng-model="spCon.data.title">
        </div>  -->

 <button  type="submit" class="btn btn-primary">Announcements</button>
        </form> 
        <div ng-repeat = "x in gina" ng-controller="spCon" >

<ul class="list-group">
          <li class="list-group-item"  ng-model="spCon.data.announcement">{{x}}</li>
          <button ng-click="spCon.removeAnnouncements(x)" type="submit" class="btn btn-danger">DELETE</button>



        </ul>

          


        </div>


 <form ng-submit="spCon.viewreviews(data)">
	<!-- <div class="form-group">
    <label>PLEASE ENTER THE COURSE TITLE</label>
          <input type="text" class="form-control" ng-model="spCon.data.title">
        </div>  -->

 <button id='two' type="submit" class="btn btn-primary">Reviews</button>
        </form>



 <div ng-repeat = "x in heba" ng-controller="spCon">

<ul class="list-group">
          <li class="list-group-item">{{x}}</li>
          


        </ul>

        </div>

 <li><a ng-show = spCon.isSP href= "#/home"> <button id='one' class="btn btn-primary" >BACK </button> </a></li>
        